.card_Wrapper {
    display: flex;
    padding: 20px;
    background: #ebf3ff;
    box-shadow: 0 0 10px #0002;
    grid-gap: 40px;
    border-radius: 20px;
}

.image_wrapper {
    height: 120px;
    flex: 0 0 20%;
}

.image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card_content-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.info_flex-Wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info_item-Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.info_item-Wrapper:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #a5a5a5;
    right: 0;
    top: 0;
    left: 80px;
}

.btn_wrapper {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    margin-top: 20px;
}